/.venv/
/.idea/
/__pycache__/
/__pycache__/*
/skipcash/__pycache__/
/skipcash/__pycache__/*
/skipcash/api_operations/__pycache__/
/skipcash/api_operations/__pycache__/*
/skipcash/api_resources/__pycache__/
/skipcash/api_resources/__pycache__/*
/skipcash/client/__pycache__/
/skipcash/client/__pycache__/*
/skipcash/exceptions/__pycache__/
/skipcash/exceptions/__pycache__/*
/skipcash/responses/__pycache__/
/skipcash/responses/__pycache__/*
/skipcash/schema/__pycache__/
/skipcash/schema/__pycache__/*
/skipcash/utils/__pycache__/
/skipcash/utils/__pycache__/*
/tests/__pycache__/
/tests/__pycache__/*